---
---

$baseurl: "{{ site.baseurl }}";

@import "variables";

@import "mixins/button-color";

@import "partials/buttons";
@import "partials/forms";
@import "partials/typography";

@import "modules/masthead";
@import "modules/nav";
@import "modules/footer";
@import "modules/comparison-chart";
@import "modules/inline-deal";

html,body {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f1f5f7;
}

#content {
  max-width: $width-desktop-large;
  padding-left: $gutter-width;
  padding-right: $gutter-width;

  @media screen and (min-width: $width-desktop-large) {
    margin-left: auto;
    margin-right: auto;
  }
}

[v-cloak] {
  display: none;
}
