<footer id="footer">
  <div id="footer-content">
    <nav>
      <ul>
        <li><a href="{{ site.baseurl }}/sim-only-contracts-under-10-pounds-a-month">Contracts under £10</a></li>
        <li><a href="{{ site.baseurl }}/sim-only-contracts-under-15-pounds-a-month">Contracts under £15</a></li>
        <li><a href="{{ site.baseurl }}/sim-only-contracts-under-20-pounds-a-month">Contracts under £20</a></li>
      </ul>
      <ul>
        <li><a href="#">Privacy policy</a></li>
        <li><a href="#">Cookie policy</a></li>
      </ul>
      <ul>
        <li><a href="#">About this site</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </div>
</footer>
