<div>
  <ul class="top-level-data">
    <li class="top-level-data-item"><span class="top-level-data-value">{% if deal.data == 999999 %}Unlimited{% else %}{% include gigify.html val=deal.data %}{% endif %}</span> <span class="top-level-data-property">Data</span></li>
    <li class="top-level-data-item"><span class="top-level-data-value">{% if deal.minutes == 999999 %}Unlimited{% else %}{{ deal.minutes }}{% endif %}</span> <span class="top-level-data-property">Minutes</span></li>
    <li class="top-level-data-item"><span class="top-level-data-value">{% if deal.texts == 999999 %}Unlimited{% else %}{{ deal.texts }}{% endif %}</span> <span class="top-level-data-property">Texts</span></li>
    <li class="top-level-data-item"><span class="top-level-data-value">{{ deal.length }} {% include pluralise.html val=deal.length plural="months" singular="month" %}</span> <span class="top-level-data-property">Contract</span></li>
    <li class="top-level-data-item"><img class="merchant-logo" src="/img/networks/{{ deal.merchant.logo }}" alt="{{ deal.merchant.name }}" width="100" height="40"></li>
  </ul>
  <a href="#">View deal</a>
</div>
