.button {
  line-height: 44px;
  display: block;
}

button {
  font-size: 1rem;
  appearance: none;
  border: none;
  color: #fff;
  border-radius: 2px;
  padding: 0 10px;
  height: 44px;
  @include button-color(#444);

  @media screen and (min-width: $width-desktop) {
    height: 40px;
  }
}
