form {

}

fieldset {

}

select {
  width: 100%;
  box-sizing: border-box;
  line-height: 40px;
  appearance: none;
  -webkit-appearance: none;
  padding: 0 7px;
  font-size: 1rem;
  background-image: url(/img/select-triangle.svg);
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  padding-right: 2rem;
  background-color: #efefef;

  @media screen and (min-width: $width-desktop) {
    line-height: 40px;
  }
}

input[type="number"] {
  line-height: 44px;
  padding: 0 0 0 7px;
  box-sizing: border-box;
  font-size: 1rem;

  @media screen and (min-width: $width-desktop) {
    line-height: 40px;
  }
}

.form-fields-range {

  label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0;
  }

  .label-text {
    display: inline-block;
    font-size: 1rem;
    width: 50px;
  }

  input[type="number"] {
    line-height: 40px;
    display: inline-block;
    width: calc(100% - 50px);
    font-size: 1rem;
  }
}
