.comparison-chart {
  position: relative;

  @media screen and (min-width: $width-desktop) {
    display: flex;
    margin-bottom: 2rem;
  }
}

@keyframes slideLeft {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

.comparison-chart-filters {
  position: fixed;
  background-color: #fff;
  right: 0;
  top: 0;
  width: 90%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-left: 2px solid #ccc;
  z-index: 1;
  display: none;

  &.show {
    display: block;
    animation-duration: 300ms;
    animation-name: slideLeft;
  }

  &:before {
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(255,255,255,0.8);
    z-index: -1;

    @media screen and (min-width: $width-desktop) {
      display: none;
    }
  }

  @media screen and (min-width: $width-desktop) {
    position: static;
    display: block;
    flex: 0 0 250px;
    border-left: none;
    margin-right: 20px;
  }
}

.comparison-chart-filter {
  overflow: hidden;
  position: relative;
  margin-top: 2.5rem;

  &:first-child {
    margin-top: 0;
  }

  @media screen and (min-width: $width-desktop) {
    margin-top: 1rem;
  }
}

.comparison-chart-filter-heading {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.comparison-chart-content {

  @media screen and (min-width: $width-desktop) {
    flex: 2;
    position: relative;
  }
}

.comparison-chart-row {
  margin-bottom: 0.5rem;
  overflow: hidden;
  padding-top: 1rem;
  box-shadow: 0 0 4px rgba(200, 200, 200, 0.4);
  background-color: #fff;
  border-radius: 2px;
  padding-bottom: 0.5rem;
  padding-left: 10px;
  padding-right: 10px;

  &:first-child {

      @media screen and (min-width: $width-desktop) {
        border-top: none;
      }
  }

  @media screen and (min-width: $width-tablet) {
    display: flex;
    padding-top: 0.5rem;
    padding-right: 10px;
  }

  @media screen and (min-width: $width-desktop) {
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
  }
}

.top-level-data {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  justify-content: center;

  @media screen and (min-width: $width-tablet) {
    flex: 2;
    align-items: center;
  }

  @media screen and (min-width: $width-desktop) {
    flex-wrap: nowrap;
    flex: 2;
    justify-content: space-between;
    margin-right: 10px;
  }
}

.top-level-data-item {
  flex: 0 0 33%;
  text-align: center;
  margin-bottom: 20px;

  @media screen and (min-width: 600px) {
    flex: 0 0 20%;
  }

  @media screen and (min-width: $width-tablet) {
    margin-bottom: 0;
  }

  @media screen and (min-width: $width-desktop) {
    flex: 0 0 16.66%;
  }
}

.top-level-data-value {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
}

.top-level-data-property {

}

.merchant-logo {

  .comparison-chart & {
    height: 40px;
    width: auto;
  }
}

.deal-link-wrapper {
  display: flex;

  @media screen and (min-width: 600px) {
    justify-content: flex-end;
  }

  @media screen and (min-width: $width-tablet) {
    display: block;
    flex: 0 0 150px;
    text-align: right;
  }
}

.deal-link {
  @extend .button;
  background-color: #46aa00;
  text-decoration: none;
  color: #fff;
  display: block;
  text-align: center;
  flex: 2;
  border-radius: 2px;

  @media screen and (min-width: 600px) {
    flex: 0 0 120px;
  }

  .fa-external-link {
      margin-left: 5px;
      // display: inline-block;
  }

  .comparison-chart & {

  }
}

.filter-clear {
  appearance: none;
  -webkit-appearance: none;
  color: #333;;
  background: transparent;
  border: none;
  line-height: 44px;
  padding-top: 0;
  padding-bottom: 0;
  position: absolute;
  top: -11px;
  right: 0;

  &:active {
    background-color: transparent;
  }

  @media screen and (min-width: $width-desktop) {
    top: 0;
    line-height: 1.9rem;
  }
}

.filter-close {
  appearance: none;
  -webkit-appearance: none;
  line-height: 44px;
  border: none;
  font-size: 1rem;
  padding: 0 9px;

  .filters-header & {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -22px;
  }
}

.filters-header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px;

  @media screen and (min-width: $width-desktop) {
    display: none;
  }
}

.filters-content {
  overflow-y: scroll;
  position: absolute;
  width: calc(100% - 20px);
  top: 72px;
  bottom: 120px;

  @media screen and (min-width: $width-desktop) {
    margin-top: 0;
    overflow-y: auto;
    position: static;
    width: auto;
  }
}

.comparison-chart-loading-ui {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255,255,255,0.8);
  background-image: url($baseurl + "/img/loading-spinner.gif");
  background-repeat: no-repeat;
  background-position: top 80px center;
  background-size: 32px 32px;

  @media screen and (min-width: $width-desktop) {
    background-position: top 160px center;
  }

  .comparison-chart.loading & {
    display: block;
  }
}

.loading-spinner {
  width: 16px;
  height: 16px;
  background-image: url($baseurl + "/img/loading-spinner.gif");
  background-size: 16px 16px;
  background-repeat: no-repeat;

  .filters-header & {
    display: inline-block;
  }
}

.filter-show {

  @media screen and (min-width: $width-desktop) {
    display: none;
  }
}

.comparison-chart-sort {

  @media screen and (min-width: $width-desktop) {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -20px;
  }

  select {
    width: auto;
    @media screen and (min-width: $width-desktop) {

    }
  }
}

.comparison-chart-header {
  position: relative;

  @media screen and (min-width: $width-desktop) {
    height: 60px;
    overflow: hidden;
  }
}

.comparison-chart-sorting-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.price {
  color: red;
  font-weight: bold;

  .deal-link-wrapper & {
    margin-right: 10px;
    line-height: 44px;
    font-size: 1.5rem;

    @media screen and (min-width: $width-tablet) {
      margin-right: 0;
    }
  }
}

.comparison-chart-filter-buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
  background-color: #fff;

  @media screen and (min-width: $width-desktop) {
    position: static;
    padding: 0;
    background-color: transparent;
    margin-top: 1rem;
  }
}

.filter-form-button {
  display: block;
  width: 100%;
}

.filter-apply {

}

.filter-clear-all {
  @include button-color(#cc0000);
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
