#nav-primary {
  background-color: $blue;
  overflow: hidden;
  height: 44px;
  padding-right: $gutter-width * 2;

  @media screen and (min-width: $width-tablet) {
    padding-right: 0;
  }

  @media screen and (min-width: $width-desktop) {
      height: 40px;
  }

  &:before {
    content: '';
    position: absolute;
    right: 0;
    width: ($gutter-width * 2) - 2px;
    height: 44px;
    background-color: lighten($blue, 20%);
    background-image: url($baseurl + "/img/right-arrow-white.svg");
    background-repeat: no-repeat;
    background-position: center;

    @media screen and (min-width: $width-tablet) {
      display: none;
    }
  }

  ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    max-width: $width-desktop-large;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    height: 62px;

    @media screen and (min-width: $width-desktop) {
      overflow-x: visible;
      height: auto;
    }
  }

  li {
    white-space: nowrap;
  }

  a {
    text-decoration: none;
    line-height: 44px;
    padding: 0 10px;
    color: #fff;

    &:hover {
      text-decoration: underline;
    }

    @media screen and (min-width: $width-desktop) {
      line-height: 40px;
    }
  }
}
